<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <style>
                .descriptor{
                   font-weight: bold; 
                }

                #data{
                    width:80%;
                    margin:auto;
                    margin-top: 5vh;
                }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
            <center>
            <h2> Scrape Awayyy </h2>
            </center>
                
            <ul class="collapsible" id="data">
                    <li>
                        <div class="collapsible-header">Name</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_1">Name</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_1">DOB</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_1">City</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_1">Email</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_1">Phone</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_1">Payment</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Akshay</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_2">Akshay</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_2">09-10-1999</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_2">Mumbai</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_2">akshay.padte@somaiya.edu</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_2">9699923802</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_2">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Karan</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_3">Karan</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_3">15-06-1999</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_3">Mumbai</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_3">karan.sheth@somaiya.edu</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_3">7715905009</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_3">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Rushang</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_4">Rushang</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_4">04-11-1999</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_4">Mumbai</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_4">rushang.g@somaiya.edu</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_4">9619243034</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_4">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Aditya</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_5">Aditya</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_5">10-06-1999</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_5">Mumbai</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_5">aditya.prajapati@somaiya.edu</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_5">7977475158</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_5">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Hetal</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_6">Hetal</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_6">24-06-1999</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_6">Mumbai</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_6">hetal.kuvadia@somaiya.edu</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_6">9819746588</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_6">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Jordan Green</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_7">Jordan Green</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_7">1971-10-05</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_7">East Brian</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_7">paulterry@ramirez-rodriguez.biz</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_7">443-660-8596x55035</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_7">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Andrea Buck</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_8">Andrea Buck</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_8">2017-03-02</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_8">East Erinhaven</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_8">nbrown@hotmail.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_8">0449105990</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_8">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Donald Harvey</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_9">Donald Harvey</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_9">2005-03-21</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_9">Petersport</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_9">brianbarton@yahoo.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_9">(797)677-7427x05906</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_9">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Jacqueline Nunez</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_10">Jacqueline Nunez</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_10">1996-10-12</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_10">West Lauren</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_10">chavezrhonda@lawson.biz</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_10">248.899.0545x43746</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_10">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Christina Butler</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_11">Christina Butler</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_11">2008-03-05</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_11">Sethland</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_11">victoriagarcia@mathews.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_11">(699)852-8818x0541</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_11">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Amanda Torres</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_12">Amanda Torres</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_12">1982-05-10</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_12">Danielsport</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_12">adrianlopez@medina.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_12">(884)289-8460x062</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_12">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Natalie Goodwin</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_13">Natalie Goodwin</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_13">1981-03-14</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_13">East Samuelberg</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_13">ramseyvickie@yahoo.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_13">098-809-3668</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_13">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Christian Gordon</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_14">Christian Gordon</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_14">1973-10-09</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_14">Lake Samantha</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_14">deborahthornton@hotmail.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_14">398.172.7364</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_14">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Robin Nicholson</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_15">Robin Nicholson</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_15">2005-06-21</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_15">Howardfurt</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_15">kellycassandra@hotmail.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_15">+1-588-564-5335x5284</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_15">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Lynn Carpenter</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_16">Lynn Carpenter</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_16">1991-08-25</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_16">Port Nicholasstad</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_16">luis01@robinson.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_16">004-439-7244</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_16">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Ethan Rios</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_17">Ethan Rios</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_17">2003-04-04</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_17">North Waynestad</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_17">kvasquez@jackson.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_17">556-895-7010</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_17">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Bruce Fisher</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_18">Bruce Fisher</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_18">2014-07-12</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_18">Kennedyhaven</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_18">rachelgarcia@rodriguez.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_18">001-322-151-4142x156</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_18">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Lisa Flores</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_19">Lisa Flores</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_19">2019-07-10</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_19">West Charles</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_19">ryangarcia@yahoo.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_19">679.853.7037x714</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_19">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Sharon Savage</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_20">Sharon Savage</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_20">1977-07-03</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_20">Port Meagan</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_20">littlehannah@wilson.org</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_20">908-821-5020</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_20">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Kathy Harris</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_21">Kathy Harris</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_21">2002-12-15</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_21">South Charlesmouth</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_21">jacob86@luna.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_21">+1-973-444-5430x01717</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_21">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Michael Young</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_22">Michael Young</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_22">2002-02-08</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_22">Zhangland</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_22">anthonymaddox@myers-mullins.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_22">981-695-0187x3567</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_22">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Danny Young</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_23">Danny Young</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_23">1980-04-26</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_23">Port Alexandra</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_23">bellkrista@gmail.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_23">243-607-4908</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_23">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">William Booker</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_24">William Booker</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_24">1977-03-18</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_24">North Darryl</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_24">kellywhitney@gmail.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_24">001-715-954-9219</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_24">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Gene Holland</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_25">Gene Holland</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_25">2007-06-22</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_25">Bethberg</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_25">sandrews@daniels.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_25">498-537-7489x943</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_25">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Stephen Friedman</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_26">Stephen Friedman</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_26">2014-04-23</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_26">Santiagoberg</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_26">keithnguyen@johnston-howard.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_26">041-080-2632x761</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_26">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Angela Day</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_27">Angela Day</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_27">2015-01-09</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_27">North Jonland</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_27">andrehess@gmail.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_27">194.296.4793</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_27">paid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Danielle Lee</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_28">Danielle Lee</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_28">1973-11-07</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_28">North Ashley</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_28">morgannina@gmail.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_28">566.266.5504x7728</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_28">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Anna Dunn</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_29">Anna Dunn</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_29">1984-01-30</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_29">New Gailfort</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_29">howardamber@yahoo.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_29">001-380-724-7370x91131</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_29">unpaid</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Heather Banks</div>
                        <div class="collapsible-body">
                            <div><span class="descriptor">Name: </span><span id="name_30">Heather Banks</span></div>
                            <div><span class="descriptor">DOB: </span><span id="dob_30">2005-11-14</span></div>
                            <div><span class="descriptor">CITY: </span><span id="city_30">Lozanostad</span></div>
                            <div><span class="descriptor">Email: </span><span id="email_30">justinmoore@hotmail.com</span></div>
                            <div><span class="descriptor">Phone: </span><span id="phone_30">381.852.2058x823</span></div>
                            <div><span class="descriptor">Payment: </span><span id="payment_30">paid</span></div>
                        </div>
                    </li>
            </ul>
                              
            
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript"charset="utf-8">
           

            $(document).ready(function(){
                $('.collapsible').collapsible();
            });
        </script>
    </body>
</html>
