<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <style>
                .descriptor{
                   font-weight: bold; 
                }

                #data{
                    width:80%;
                    margin:auto;
                    margin-top: 5vh;
                }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
            <center>
            <h2> Scrape Awayyy </h2>
            </center>
                
            <ul class="collapsible" id="data">
                <li>
                    <div class="collapsible-header">Name</div>
                    <div class="collapsible-body">
                        <div><span class="descriptor">Name: </span><span id="name_1">Name</span></div>
                        <div><span class="descriptor">DOB: </span><span id="dob_1">DOB</span></div>
                        <div><span class="descriptor">CITY: </span><span id="city_1">City</span></div>
                        <div><span class="descriptor">Email: </span><span id="email_1">Email</span></div>
                        <div><span class="descriptor">Phone: </span><span id="phone_1">Phone</span></div>
                        <div><span class="descriptor">Payment: </span><span id="payment_1">Payment</span></div>
                    </div>
                </li>
            </ul>
                              
            
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript"charset="utf-8">
           

            $(document).ready(function(){
                $('.collapsible').collapsible();
            });
        </script>
    </body>
</html>
