<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <style>
                .descriptor{
                   font-weight: bold; 
                }

                #data{
                    width:80%;
                    margin:auto;
                    margin-top: 5vh;
                }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
            <center>
            <h2> Scrape Awayyy </h2>
            </center>
                
            <ul class="collapsible" id="data">
                {% for row in data %}
                <li id="list_{{loop.index}}">
                    <div class="collapsible-header">{{row.name}}</div>
                    <div class="collapsible-body">
                        <div><span class="descriptor">Name: </span><span class="name">{{row.name}}</span></div>
                        {% if row.dob %}
                        <div><span class="descriptor">DOB: </span><span class="dob">{{row.dob}}</span></div>
                        {% endif %}
                        <div><span class="descriptor">City: </span><span class="city">{{row.city}}</span></div>
                        <div><span class="descriptor">Email: </span><span class="email">{{row.email}}</span></div>
                        {% if row.phone %}
                        <div><span class="descriptor">Phone: </span><span class="phone">{{row.phone}}</span></div>
                        {% endif %}
                        <div><span class="descriptor">Payment: </span><span class="payment">{{row.payment}}</span></div>
                    </div>
                </li>
                {% endfor %}
            </ul>
                              
            
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript"charset="utf-8">
           

            $(document).ready(function(){
                $('.collapsible').collapsible();
            });
        </script>
    </body>
</html>
